.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(141, 141, 141);
  background-color: black;
  color: white;
}

.node:hover {
  background-color: lightgray;
}


.start {
  background-color: rgb(8, 185, 58);
}

.finish {
  background-color: rgb(246, 33, 33);
}

.wall {
  background-color: rgb(103, 103, 103);
}

.visited {
  background-color: rgb(113, 164, 230);
}

.path {
  background-color: rgb(233, 166, 93);
}

.node[draggable="true"] {
  cursor: grab;
}
