.node {
  width: 25px;
  height: 25px;
  outline: 1px solid grey;
  background-color: white;
  font-size: xx-small;
}

.node:hover {
  background-color: lightgray;
}


.start {
  background-color: green;
}

.finish {
  background-color: red;
}

.wall {
  background-color: grey;
}

.visited {
  background-color: lightblue;
}

.path {
  background-color: yellow;
}

.node[draggable="true"] {
  cursor: grab;
}
