.base {
    height: 100vh;
    background-color: black;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

.row {
    display: flex;
}

.menu {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    background-color: #876bf5;
    div {
        width: 100%;
        display: flex;
    }
}

.titleDiv {
    padding-inline: 2vw;
    font-size: 1.7rem;
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.controlsDiv {
    justify-content: center;
    * {
        padding: 0.7vh 0.7vw;
        margin: 0.5vw;
        font-size: 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
}

.infoButtonDiv {
    justify-content: end;
    padding-inline: 2vw;
    button {
        font-size: 1.3rem;
        height: 2.3rem;
        width: 2.3rem;
        border-radius: 50%;
        border: none;
        cursor: pointer;
    }
}

.algoDropDown {
    background-color: #f2c2c9;
}

.visualizeButton {
    margin: 0.5vw;
    background-color: #6cfd6f;
}

.clearButton {
    margin: 0.5vw;
    background-color: #f2c2c9;
}

@media (max-width: 900px) {
    .titleDiv {
        font-size: 1rem;
    }
    .controlsDiv {
        font-size: 0.7rem;
        * {
            padding: 0;
        }
    }
}