.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
}

.menu {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh 0;
}

.visualizeButton {
    padding: 1vh 1vw;
    font-size: 1rem;
    background-color: #5cb75e;
    border: none;
    cursor: pointer;
}

.clearButton {
    padding: 1vh 1vw;
    margin-left: 1vw;
    font-size: 1rem;
    background-color: #f9c2b6;
    border: none;
    cursor: pointer;
}